body{
 padding: 0;
 background: rgba(255,255,255,0);
 background: rgb(241, 241, 241) none repeat scroll 0% 0%;
 background: url('/pics/22.jpg');
 font-family: 'Open Sans', sans-serif;
}

ul li, li {
 list-style: none;
}

.container {
  max-width: 860px; 
}

.navbar {
  margin-bottom: 2rem;
  padding: 2rem 0 0 0;
}

.navbar-item {
  position: relative;
  display: inline-block;
  margin-bottom: 0; 
  margin-left: 1rem;
  vertical-align: middle;
}

.navbar-item img  {
  width: 20px;
  max-width: 20px;
}

.navbar-link {
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: .2rem;
  text-decoration: none;
  line-height: 6.5rem;
  color: #999; 
}
.navbar-link.active {
  color: #111; 
}

.docs-header { background: #efefef; padding: 1rem; }

.columns a { font-size: 1.2rem;}
.columns h6 { border-bottom: 1px solid #ccc; }
#linkList .columns { margin-left: 1%; } 

li.logo {
  text-align: left;
  text-transform: uppercase;
}

.logo h3 {
  font-weight: 600;
  margin: 0;
  padding-top: 1.5rem;
}

img {
  width: 100%;
}

.img-container {
  overflow: hidden;
  border: 6px solid #333;
  padding: 40px;
  background: #fff;
}

.album .column {
  overflow: hidden;
}

.img-footer {
  text-align: center;
  background: #eee;
  padding: 0.25rem;
  border-bottom: 12px solid #ddd;
  width: 70%;
  margin: 0 auto;
}

.img-footer h6, .footer h6{
  color: #333;
  margin-bottom: 0;
  font-size: 1.25rem;
}

.container .row {
  margin-bottom: 2rem;
}

.container .row.footer {
  margin-bottom: 5rem;
  margin-bottom: 5rem;
  padding: 2rem 4rem;
  background: #efefef;
}

h6.small {
  font-size: 1.25rem;
}

#view-l {
  display: none;
  position: relative;
  padding: 2rem;
  background: #fff;
}

#view-l .close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  background: rgb(241, 241, 241);
  color: #333;
  padding: 12px 18px;
  cursor: pointer;
}

.one-third.column {
  text-align: center;
  padding: 1.5rem;
  margin-bottom: 2rem;
  /* opacity: 0.85; */
}

/* .one-third.column:hover {
  opacity: 1;
} */

.button-primary {
  background: #23d160 !important;
}

.button.small {
  padding: 0.75rem 1rem;
  font-size: 0.9rem;
  margin: 0;
  line-height: initial;
  height: auto;
  margin-top: 6px;
}
.sold {
  font-size: 1rem;
  background: red;
  color: #eee;
  padding: 2px 6px;
  margin-right: 4px; 
}

.buy-section {
  background: #eee;
  padding: 4rem;
}

.tick-header {
  background: url('/img/grncheck.png') no-repeat left;
  background-size: 34px;
  padding-left: 40px;
}

.paypal {
  display: none;
}

.order-txt {
  font-size: 1.25rem;
  clear: both;
}

.album img {
  border-top: 1px solid #aaa;
  border-left: 1px solid #aaa;
}



/* Larger than phone */
@media (min-width: 550px) {

}

/* Larger than tablet */
@media (min-width: 750px) {
  
  li.logo {
    float: left;
  }
  
  .navbar {
    padding: 4rem 0;
  }

  .navbar,
  .navbar-spacer {
    display: block;
    width: 100%;
    height: 6.5rem;
    z-index: 99;
    border-bottom: 0;
 }
  .navbar-spacer {
    display: none; }
  .navbar > .container {
    width: 100%;
  }
  .navbar-list {
    list-style: none;
    margin-bottom: 0;
    text-align: right;
  }

  .container .row {
    margin-bottom: 4rem;
  }  

  .img-container {
    /* height: 33rem; */
    overflow: hidden;
  }
  
  .album img {
    cursor: pointer;
  }

  .order-txt {
    width: 60%;
    clear: none;
  }

}
