body{
 padding: 0;
 background: rgba(255,255,255,0);
 font-family: 'Open Sans', sans-serif;
}

ul li, li {
 list-style: none;
}

.container {
  max-width: 860px; 
}

.navbar {
  border-bottom: 1px solid #ddd;
  margin-bottom: 2rem;
}

.navbar-item {
  position: relative;
  display: inline-block;
  min-width: 9rem;
  margin-bottom: 0; 
}
.navbar-link {
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: .2rem;
  text-decoration: none;
  line-height: 6.5rem;
  color: #999; 
}
.navbar-link.active {
  color: #111; 
}

/* Larger than phone */
@media (min-width: 550px) {

}

/* Larger than tablet */
@media (min-width: 750px) {
  
  li.logo {
    float: left;
  }
  
  .navbar {
    padding: 4rem 0;
  }

  .navbar,
  .navbar-spacer {
    display: block;
    width: 100%;
    height: 6.5rem;
    background: #fff;
    z-index: 99;
    border-bottom: 0;
 }
  .navbar-spacer {
    display: none; }
  .navbar > .container {
    width: 100%;
  }
  .navbar-list {
    list-style: none;
    margin-bottom: 0;
    text-align: right;
  }
  
  .album img {
    height: 340px;
    width: auto !important;
  }
}

.docs-header { background: #efefef; padding: 1rem; }

.columns a { font-size: 1.2rem;}
.columns h6 { border-bottom: 1px solid #ccc; }
#linkList .columns { margin-left: 1%; } 

li.logo {
  width: 12rem;
  text-align: left;
  text-transform: uppercase;
}

.logo h2 {
  font-size: 3rem;
  font-weight: 600;
  margin: 0;
  padding-top: 1.5rem;
}

img {
  width: 100%;
}

.album img {
  width: 100%;
}

.album .column {
  overflow: hidden;
}

.img-footer {
  text-align: center;
  color: #777;
}

.img-footer h6, .footer h6{
  color: #777;
  margin-bottom: 0;
  font-size: 1.25rem;
}

.container .row {
  margin-bottom: 6rem;
}

.container .row.footer {
  margin-bottom: 0.5rem;
}

h6.small {
  font-size: 0.95rem;
}

#view-l {
  display: none;
  position: relative;
}

#view-l .close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  background: #eee;
  color: #333;
  padding: 12px 18px;
  cursor: pointer;
}

.album img {
  cursor: pointer;
}